@charset "utf-8";

/* body */
  body {
  background-color: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-column-gap: 40px;           
  grid-template-areas:
    "header header"
    "col1   col2"
    "footer footer";
}

section.leftColumn { grid-area: col1; }
section.rightColumn { grid-area: col2; }

 body > footer {grid-area: footer;}
 
body > header { 
   grid-row: 1; 
   grid-column: 1/-1; 
}

/* header */
header {
  background-color: rgba(135, 195, 213, 0.3);
  padding: 15px 0;
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  margin: 0;
}

/* nav */
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgba(135, 195, 213, 0.25);
}

.main-nav a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
}

/* about */
.about{
  background-color: rgba(255, 255, 255, 0.22);
  padding: 20px;
  margin: 30px auto;
  width: 85%;
  
}

/* headings */
h3, h4 {
  margin-top: 0;
}

/* lists */
ul, ol {
  margin-left: 25px;
}

/* footer */
footer {
  background-color: rgba(255, 255, 255, 0.22);
  
  text-align: center;
  
}
/* left column */
section.leftColumn {  
  grid-area: col1;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.22);              
  text-align: center;                  
  font-size: 1.25rem;                    
  line-height: 1.75;                      
  margin: auto;
  
}

section.leftColumn > h3 {
  background-color: transparent;        
}

/* right column */
section.rightColumn { 
  grid-area: col2;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.22);                            
  font-size: 1.25rem;                    
  line-height: 1.75;
  margin: 20px auto;
  text-align: center;
  display: flex;             
  flex-direction: column;    
  justify-content: center;
  align-items: center;
}
section.rightColumn > p,
section.rightColumn ol,
section.rightColumn h3 {
  background-color: transparent;
  width: 100%;
}


