@charset "utf-8";
body {
  background-color:lightslategray;
}
header {
    color: black;
  font-family:Arial, Helvetica, sans-serif;
}
h1 {
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 180%;
  text-align: center;
  background-color:rgba(135, 195, 213, 0.399);
}
p, h2, h3 {
     color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin-top: 80px;
  background-color:rgba(255, 255, 255, 0.222);
}
nav > ul {
   color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
   padding: 0%;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
   background-color:rgba(135, 195, 213, 0.227);
}
ol {
    color: black;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgba(255, 255, 255, 0.107);
}
footer {
    color: black;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.222);
}
h4 {
    color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 25px 50px 50px 100px;
  text-align: justify;
  background-color:rgba(154, 189, 200, 0.227);
}
ul {
    color: black;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 25px 50px 50px 100px;
  text-align:justify;
  list-style-type: none;
}